{% extends "base.html" %}
{% block title %} About Page {% endblock %}
{% block content %}
<h1>👋 About Us</h1>
<p>In this guide, I'm just sharing the general knowledge on what is there to know about Honkai Star Rail.</p>

<h2>Mission</h2>
<p>My mission is that for people to experience the world of Honkai Star Rail and for them to enjoy the different things that get you immersed into the game.</p>

<h2>Knowing The Creator</h2>
<ul>
    <li>Name: Franzel Jordan G. Aguiluz</li>
    <li>Year: 2nd Year</li>
    <li>Course: BS in Computer Science</li>
    <li>Hobbies: Playing video games, watching anime, reading manga and fictional stories</li>
    <li>Dislikes: Fake people, Homophobes, Foul-mouthed people</li>
</ul>
{% endblock %}