{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<h1>🌟 Unveiling The Guide 🌟</h1>
<br>
<h2>Exploring The World Of Honkai Star Rail</h2>
<br>
<h3>1. Amazing Worldbuilding</h3>
<p>The world of Honkai Star Rail fulfill those of Fantasy and Sci-fi fans and it achieves the satisfaction that kind of people are looking for.</p>

<h3>2. Immersive Storyline</h3>
<p>Immersing yourself in the story of Honkai Star Rail is pretty easy as it flows naturally and can be heartwarming, wholesome, and intense and action-packed at the same time, all can be experienced in the breathtaking adventures of Honkai Star Rail.</p>

<h3>3. Addicting Battle Styles</h3>
<p>Honkai Star Rail is a turn-based role playing game, and for people that are fan of this type, this game delivers it to the max as there is so many strategies and teambuilding you can do to experiment with and to simply have fun with all those stuff.</p>

<h3>4. Interesting Character Designs</h3>
<p>Character designs in Honkai Star Rail is definitely top-notch as it provides very likeable characters and interesting abilities and their own origin stories, they make it so that it is easy to be attached to any characters.</p>

<h2>Why Choose This Guide? </h2>
<ul>
    <li>Beginner-Friendly: This guide offers begginer-friendly advice for people so it will be much easier to understand and to enjoy the game.</li>
    <li>Community Engagement: Being able to conenct with people who have the same passion as you in this game will definitely have an impact to the way on how you will enjoy the game.</li>
    <li>Continuous Improvement: We are committed to evolving and adding new features based on user feedback.</li>
</ul>
<p>Ready to experience the world of Honkai Star Rail? Sign Up now and unlock a world that is full of stars!</p>
{% endblock %}